build:
  stage: build
  extends: .docker-auth
  image: ${DOCKER_REGISTRY}/docker:latest
  script:
    - docker image build -t {{ docker_image_name }} .
    - sh helper-scripts/deploy-test-image.sh

test:
  stage: test
  image: ${DOCKER_REGISTRY}/apl211945-{{ docker_image_name }}:test-${CI_PIPELINE_ID}
  script:
    - sh test.sh

determine docker image tags:
  stage: deploy
  image: ${DOCKER_REGISTRY}/apl211945-{{ docker_image_name }}:test-${CI_PIPELINE_ID}
  script:
    - DOCKER_IMAGE_TAGS="$(sh determine-docker-image-tags.sh)"
    - echo "DOCKER_IMAGE_TAGS=${DOCKER_IMAGE_TAGS}" >> docker-image-tags.env
  artifacts:
    reports:
      dotenv: docker-image-tags.env

deploy:
  stage: deploy
  needs: ["determine docker image tags"]
  extends: .docker-auth
  image: ${DOCKER_REGISTRY}/docker:latest
  script:
    - sh helper-scripts/deploy-prod-image.sh "${DOCKER_IMAGE_TAGS}"
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH

.docker-auth:
  before_script:
    - mkdir -p ${HOME}/.docker
    - echo ${DOCKER_AUTH_CONFIG} >> ${HOME}/.docker/config.json
